{% extends "padre.html" %}

 {% block titulo %}Cientificos relevantes {% endblock %}

  {% block central %}

                <!-- Se subdivide en un grid-layout con los cientificos y un panel auxiliar -->
                <div class="grid-container">
                    <div>
                        <a href="cientifico.php?id=1">
                            <img src="imagenes/MarieCurie1.jpg" alt="Marie Curie"> 
                            <p>Marie Curie</p>
                        </a>
                    </div>
                
                    <div>
                        <a href="cientifico.php?id=2">
                            <img src="imagenes/AlexanderFleming1.jpg" alt="Alexander Fleming">
                            <p>Alexander Fleming</p>
                        </a>
                    </div>
                
                    <div>
                        <img src="imagenes/LouisPasteur.jpg" alt="Louis Pasteur">
                        <p>Louis Pasteur</p>
                    </div>
                
                    <div>
                        <img src="imagenes/RamonCajal.jpg" alt="Ramon y Cajal">
                        <p>Ramon y Cajal</p>
                    </div>
                
                    <div>
                        <img src="imagenes/HipatiaAlejandria.jpg" alt="Hipatia de Alejandria">
                        <p>Hipatia de Alejandria</p>
                    </div>
                
                    <div>
                        <img src="imagenes/KatherineJohnson.jpg" alt="Katherine Johnson">
                        <p>Katherine Johnson</p>
                    </div>

                    <div>
                        <img src="imagenes/StephenHawking.jpg" alt="Stephen Hawking">
                        <p>Stephen Hawking</p>
                    </div>
                </div>
{% endblock %}
